@keyframes startGame {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(100%);
        font-size: 500px;
    }
    100% {transform: translateY(0%);
    }
}

body {
    height: 100vh;
    width: 1000px;
    margin-left: 2em;
    margin-right: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0d3b66;
    color: white;
    display: flexbox;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    color: #ff9e00;
    letter-spacing: 2px;
}

input {
    width: 7em;
}

::placeholder {
    color: #ff5400;
}

#rulesButton {
    height: 40px;
    width: 100px;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 25px;
    background-color: #ff5400;
    background:linear-gradient(to bottom, #ff5400 5%, #f4854e 100%);
    color: white;
	cursor:grabbing;
}

#rulesButton:hover {
    background-color: #f4854e;
	background:linear-gradient(to bottom, #f4854e 5%, #ff5400 100%);
}

#rulesButton:active {
    position:relative;
	top:4px;
}

.rules {
    width: 75%;
    font-size: 16pt;
}

#objective {
    list-style-type: none;
}

#boldObjective {
    font-weight: bold;
}

.gameboard {
    border: #ff5400 5px solid;
    border-radius: 25px;
    height: 450px;
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.phraseContainer {
    padding: 2em;
    display: flexbox;
    margin-top: 1em;
}

.word {
    margin-bottom: 30px;
    font-size: 26pt;
}

.scoreboard {
    border-left: #ff5400 5px solid;
}

.playerScore {
    font-size: 30pt;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.playerOne {
    border: #ff5400 2px solid;
    padding: 20px;
}

.playerTwo {
    border: #ff5400 2px solid;
    padding: 20px;
}

.wagerContainer {
    /* border: blue 2px solid; */
    height: 200px;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.wagerChip {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
    height: 125px;
    width: 125px;
	border-radius:50%;
	border:1px solid #d83526;
	display:inline-block;
	cursor:grabbing;
	color:#ffffff;
	font-size:26pt;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.wagerChip:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}

.wagerChip:active {
	position:relative;
	top:4px;
}

.wager {
    /* border: 2px yellow solid; */
    text-align: center;
    padding: 10px;
    font-size: 26pt;
    margin-left: 125px;
    margin-right: 100px;
    background-color: #ff9e00;
}

.newGame {
    margin-top: 1em;
    height: 80px;
    width: 150px;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 25px;
    background-color: #ff5400;
    background:linear-gradient(to bottom, #ff5400 5%, #f4854e 100%);
    color: white;
	cursor:grabbing;
}

.newGame:hover {
    background-color: #f4854e;
	background:linear-gradient(to bottom, #f4854e 5%, #ff5400 100%);
}

.newGame:active {
    position:relative;
	top:4px;
}

/* Winner/Loser*/
.end-game {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0d3b66;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.playerOneWins {
    font-size: 100pt;
    position: relative; 
    z-index: 50; 
    display: none;
}

.playerTwoWins {
    font-size: 100pt;
    position: relative;
    z-index: 50;
    display: none;
}